<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boots Rentability</title>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script type="text/javascript" src="js/boots.js"></script>
</head>

<body>
    <div class="centered home" id="home">
        <input class="summoner-name border-transition" id="summonerName" placeholder="Enter a summoner name" type="text"></input>
        <br>
        <select id="server" class="server border-transition">
            <option value="" disabled selected>Pick your server</option>
            <option value="BR">BR</option>
            <option value="EUNE">EUNE</option>
            <option value="EUW">EUW</option>
            <option value="JP">JP</option>
            <option value="KR">KR</option>
            <option value="LAN">LAN</option>
            <option value="LAS">LAS</option>
            <option value="NA">NA</option>
            <option value="OCE">OCE</option>
            <option value="TR">TR</option>
            <option value="RU">RU</option>
            <option value="PBE">PBE</option>
        </select>
        <strong class="hidden" id="error-text"><br>Please enter a summoner<br>name and pick your server<br></strong>
        <br>
        <button id="submit" class="submit border-transition">Get useless data !</button>
        <br>
        <div id="loading">
            <img src="/images/heimy.gif"></img>
            <h1 id="loader">Retrieving data :</h1>
            <h4>A request can take up to 10 seconds depending on the server.</h4>
        </div>
    </div>

    <div class="centered results hidden" id="results">
        <h3 id="reset"><u class="fontFira color-transition">< Go back to summoner selection !</u></h3>

        <img id="championIcon" src="" width="96" height="96">
        <h2 id="lastGameAs">Last game as <strong id="championName">...</strong> :</h2>

        <div class="timeTaken">
            <img src="/images/heimy.gif"></img>
            <h3><strong id="resultSummonerName"></strong>Request took : <strong id="timeTaken">...</strong> seconds</h3>
        </div>


        <div class="columns">
            <div class="column" id="c1">
                <h3>You travelled :</h3>
                <h2><span class="data-text" id="totalDistanceTravelled">...</span> units </h2>
                <h3>during this game.</h3>
                <br>
                <h3>Which is the equivalent of :</h3>
                <h2><span class="data-text" id="totalTeemosTravelled">...</span> Teemo(s)</h2>
                <br>
                <h3>Your average travel speed was :</h3>
                <h2><span class="data-text" id="averageTravelSpeed">...</span> Teemo(s) / minute</h2>
                <br>
                <h3>Your game lasted :</h3>
                <h2><span class="data-text" id="gameDurationMinute">...</span> Minutes <span class="data-text" id="gameDurationSecond">...</span> Second(s)</h2>
            </div>
            <div class="column" id="c2">
                <h3>You spent :</h3>
                <h2><span class="data-text" id="lastBootsCost">...</span> Gold(s)</h2>
                <h3>in boots.</h3>
                <br>
                <h3>Thanks to your boots you travelled :</h3>
                <h2><span class="data-text" id="extraUnitsTravelled">...</span> Extra units</h2>
                <br>
                <h3>Which is the equivalent of :</h3>
                <h2><span class="data-text" id="extraTeemosTravelled">...</span> Teemo(s)</h2>
                <br>
                <h3>Which represents :</h3>
                <h2><span class="data-text" id="extraPercentageTravelled">...</span>%</h2>
                <h3>of the total distance you travelled.</h3>
            </div>
            <div class="column" id="c3">
                <h1>Fun facts :</h1>
                <h3>You crossed the entire summoner's rift :</h3>
                <h2><span class="data-text" id="crossedSummonersRiftTotal">...</span> Time(s) during the whole game</h2>
                <h3><span class="data-text" id="crossedSummonersRiftBoots">...</span> Time(s) thanks to your boots.</h3>
                <br>
                <h3>Your boots gave you :</h3>
                <h2><span class="data-text" id="extraFlash">...</span> Extra flash</h2>
                <h6>riot pls nerf boots op</h6>
                <br>
                <h3>You can share those stats with this link :</h3>
                <a href="" target="_blank" id="shareLink"><h3><span class="data-text fontFira"><u></u></span></h3></a>
            </div>
        </div>
    </div>

    <div class="git">
        <a href="https://github.com/Equinoxbig/boots-rentability" target="_blank" class="git-href color-transition">
            <i class="fa fa-3x fa-github" aria-hidden="true"></i>
            <h3 class="git-text fontFira">Check the project / FAQ on Github.</h3>
        </a>
    </div>
</body>