/*
 * Background image + font family
 */

body {
    background-image: url('http://na.leagueoflegends.com/sites/default/files/upload/environmentart-sru-04_1920.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

* {
    font-family: 'Rubik', sans-serif;
}

.hidden {
    display: none!important;
}


/*
 * Github button + text
 */

@font-face {
    font-family: "Firacode";
    src: url('./FiraCode-Regular.ttf');
}

.fontFira {
    font-family: 'Firacode', monospace;
}

.git {
    position: fixed;
    bottom: 0;
    left: 15;
    display: block;
}

.git .git-href {
    color: #d1d1d1;
}

.git .git-text {
    font-size: 26px;
    margin-left: 15px;
    float: right;
    margin-top: 11px;
}

.git .git-href:hover {
    color: white;
}

.color-transition {
    -moz-transition: color .4s ease-in;
    -o-transition: color .4s ease-in;
    -webkit-transition: color .4s ease-in;
}


/*
 * Center divs
 */

.centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}


/*
 * Name selector + server selector + button + error text
 * Inspired but modified version from: http://bulma.io/documentation/elements/form/
 */

.summoner-name {
    margin-bottom: 25px;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 1.25rem;
    height: 2.25em;
    border-color: #dbdbdb;
    color: rgb(38, 38, 38);
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.795em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
}

.summoner-name:focus, .summoner-name:hover, .server:focus, .server:hover {
    outline: none;
    border: 0.105em solid #7091e0;
}

.border-transition {
    -moz-transition: border .25s ease-in;
    -o-transition: border .25s ease-in;
    -webkit-transition: border .25s ease-in;
}

.server {
    height: 2.25em;
    width: 300px;
    margin-bottom: 25px;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 1.25rem;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    border-color: #dbdbdb;
    color: rgb(38, 38, 38);
    cursor: pointer;
}

.submit {
    margin-bottom: 25px;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 1.25rem;
    height: 2.25em;
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: #06d15e;
    color: rgb(38, 38, 38);
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    background-color: #06d15e;
    color: white;
    outline: none;
}

.submit:hover {
    border: 0.125em solid #05bc55;
    outline: none;
}

#error-text {
    font-size: 22px;
    color: #ad1d00;
    margin-top: -10px;
}


/*
 * Progress stuff
 * Actually just text and a gif
 * Gif link : http://forums.na.leagueoflegends.com/board/attachment.php?attachmentid=854387
 * Where I found it : http://forums.na.leagueoflegends.com/board/showthread.php?t=4110560
 * I assume it's copyright free however I couldn't find the author to give him credit :/
 */

#loading {
    color: white;
    opacity: 0
}


/*
 * Background for results
 */

.results {
    width: 97%;
    height: 85.5%;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 15px;
    text-align: center;
    color: white;
    top: 46%!important;
}

#reset {
    position: absolute;
    color: grey;
}

#reset:hover {
    color: white;
    cursor: pointer;
}

.timeTaken {
    position: absolute;
    color: white;
    right: 15px;
    top: 15px;
    display: inline-block;
}

#championIcon {
    border-radius: 50%;
}

.columns {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: row;
    height: 600px;
    padding: 15px;
}

.column {
    position: relative;
    flex-basis: 100%;
    /*border: 3px solid black;*/
    height: 100%;
}

#c1 {
    order: 1;
}

#c2 {
    order: 2;
}

#c3 {
    order: 3;
}

#twitter {
    border-radius: 10px;
    margin-bottom: 200px;
}

#twitter:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1440px) and (orientation: landscape) {
    #championIcon {
        margin-top: 200px;
        margin-bottom: 50px;
    }
    .columns {
        flex-wrap: wrap;
    }
    .column {
        margin-top: 40px;
    }
    .results {
        height: 100%;
        top: 52%!important;
        position: fixed;
        overflow: scroll;
        padding-bottom: 50px;
    }
    #reset {
        left: 50%;
        transform: translate(-50%, 0);
        top: 20px;
    }
    .timeTaken {
        left: 50%;
        transform: translate(-50%, 0);
        top: 90px;
    }
}

@media only screen and (max-width: 907px) {
    #championIcon {
        margin-bottom: 50px;
        margin-top: 300px;
    }
    .columns {
        flex-wrap: wrap;
    }
    .column {
        margin-top: 40px;
    }
    .results {
        height: 100%;
        top: 52%!important;
        position: fixed;
        overflow: scroll;
        padding-bottom: 50px;
    }
    #reset {
        left: 50%;
        transform: translate(-50%, 0);
        top: 20px;
    }
    .timeTaken {
        left: 50%;
        transform: translate(-50%, 0);
        top: 130px;
    }
    .git {
        left: 0;
    }
}